body, table {
    border: 0;
    margin: 0;
    font-family: monospace;
    white-space: nowrap;
    text-align: center;
    border-spacing: 0;
    width: 100%;
}

#container {
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0;
}

